@import url("../styles.css");

@counter-style decimal-paren {
	system: extends decimal;
	suffix: ") ";
}

.RECIPE_SOURCE {
	font-weight: bold;
	width: 100%;
	padding-right: 2em;
}

.RECIPE_REQUIRES {
	white-space: nowrap;
	padding-right: 2em;
	text-align: right;
	vertical-align: top;
}

.RECIPE_YIELDS {
	white-space: nowrap;
	text-align: right;
	vertical-align: top;
}

.RECIPE_INGREDIENT {
	font-weight: bold;
	padding-right: .25em;
}

.RECIPE_INGREDIENT_QUANTITY {}

.RECIPE_INGREDIENT_QUANTITY_NOTE {
	font-size: .75em;
	font-style: italic;
}

.RECIPE_INGREDIENT_NOTE {
	font-size: .75em;
	font-style: italic;
}

.RECIPE_INGREDIENT_FINE_PRINT {
	padding-left: 2em;
	font-size: .75em;
	font-style: italic;
	white-space: normal;
}

.RECIPE_INSTRUCTIONS {
	list-style: decimal-paren;
}

.RECIPE_INSTRUCTION_NOTE {
	font-size: .9em;
	font-style: italic;
}

.RECIPE_SUBSECTION {
	vertical-align: top;
	padding-right: 1em;
}
